{
  "root": true,
  "extends": "@react-native",
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "react-hooks/exhaustive-deps": "off",
    "quotes": "warn",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "react/no-unstable-nested-components": "off"
  }
}