{
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true
    },
    "globals": {
        "React": true
    },
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    },
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "react-hooks"
    ],
    "rules": {
        "import/no-anonymous-default-export": 0,
        "react-hooks/exhaustive-deps": 0,
        "@typescript-eslint/no-empty-interface": 0,
        "@typescript-eslint/no-empty-function": 0,
        "react/display-name": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0
    }
}